@import "./index.css";
@import "../public/fonts/yekanBakh/YekanBakh.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: YekanBakh, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.scrool::-webkit-scrollbar {
  width: 10px;
}

.scrool::-webkit-scrollbar-track {
  background: inherit;
}

.scrool::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #070030;
}
.scrool.hg::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.222);
  border-radius: 20px;
  border: 3px solid #eeeeee75 !important;
}

pre {
  direction: ltr !important;
  background-color: #070030 !important;
  color: #fff;
  padding: 4px;
  border-radius: 12px;
  margin: 20px;
  text-shadow: none !important;
  code {
    font-family: "Courier New", Courier, monospace;
    text-shadow: none !important;
    color: #fff !important;
    span {
      background: transparent !important;
    }
  }
}

.loader {
  position: relative;
  width: 240px;
  height: 130px;
  margin-bottom: 10px;
  border: 1px solid #d3d3d3;
  padding: 15px;
  background-color: #e3e3e3;
  overflow: hidden;
}

.loader:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
  animation: gradient-animation_2 1.2s linear infinite;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #cacaca;
}

.loader .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.loader .button {
  display: inline-block;
  height: 32px;
  width: 75px;
}

.loader .line-1 {
  position: absolute;
  top: 11px;
  left: 58px;
  height: 10px;
  width: 100px;
}

.loader .line-2 {
  position: absolute;
  top: 34px;
  left: 58px;
  height: 10px;
  width: 150px;
}

.loader .line-3 {
  position: absolute;
  top: 57px;
  left: 0px;
  height: 10px;
  width: 100%;
}

.loader .line-4 {
  position: absolute;
  top: 80px;
  left: 0px;
  height: 10px;
  width: 92%;
}

@keyframes gradient-animation_2 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

// THE LOADING EFFECT
.skeleton {
  background-color: #eee;
  // The shine that's going to move across the skeleton:
  background-image:
    linear-gradient(90deg,
      rgba(#fff, 0),
      rgba(#fff, 0.5),
      rgba(#fff, 0));
  background-size: 40px 100%; // width of the shine
  background-repeat: no-repeat; // No need to repeat the shine effect
  background-position: left -40px top 0; // Place shine on the left side, with offset on the left based on the width of the shine - see background-size
  animation: shine 1s ease infinite; // increase animation time to see effect in 'slow-mo'
}

@keyframes shine {
  to {
    // Move shine from left to right, with offset on the right based on the width of the shine - see background-size
    background-position: right -40px top 0;
  }
}

.load {
  position: relative;
  width: 0.8em;
  height: 0.8em;
  border-radius: 50%;
  // float: left;
}

.progress {
  top: 50%;
  left: -80%;
  position: absolute;
  transform: translate(-50%, -50%);
  content: '';
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background: #070030;
  animation: loading_492 1s ease infinite;
  animation-delay: 1s;
}

@keyframes loading_492 {
  0% {
    width: 0%;
    height: 0%;
  }

  50% {
    width: 99%;
    height: 99%;
  }

  100% {
    width: 0%;
    height: 0%;
  }
}

.progress:nth-child(2) {
  left: 50%;
  animation-delay: 1.3s;
}

.progress:nth-child(3) {
  left: 180%;
  animation-delay: 1.7s;
}
.newChatBtn {
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.newChatBtn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #fff;
  right: -40px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}
.newChatBtn:hover:before {
  right: 100%;
}
.hoverBtn {
  transition: all 0.2s;
  border: #070030 1px solid;
}

.hoverBtn:hover {
  // border: #eee 1px solid;
  border-radius: 9px;
  background-color: #eeeeee3e;
}
.svgDelere {
  transition: all 0.2s;
}
.hoverBtn {
  &:hover {
    .svgDelere {
      display: block !important;
    }
  }
}
