@import "./index.css";
@import "../public/fonts/yekanBakh/YekanBakh.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
  font-family: YekanBakh, "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

.scrool::-webkit-scrollbar {
  width: 10px;
}

.scrool::-webkit-scrollbar-track {
  background: inherit;
}

.scrool::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 20px;
  border: 3px solid #070030;
}
.scrool.hg::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.222);
  border-radius: 20px;
  border: 3px solid #eeeeee75 !important;
}

pre {
  direction: ltr !important;
  background-color: #070030 !important;
  color: #fff;
  padding: 4px;
  border-radius: 12px;
  margin: 20px;
  text-shadow: none !important;
  code {
    font-family: "Courier New", Courier, monospace;
    text-shadow: none !important;
    color: #fff !important;
    span {
      background: transparent !important;
    }
  }
}

.newChatBtn {
  border: 1px solid #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.newChatBtn:before {
  content: "";
  position: absolute;
  height: 150px;
  width: 50px;
  background: #fff;
  right: -40px;
  top: -40px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}
.newChatBtn:hover:before {
  right: 100%;
}
.hoverBtn {
  transition: all 0.2s;
  border: #070030 1px solid;
}

.hoverBtn:hover {
  // border: #eee 1px solid;
  border-radius: 9px;
  background-color: #eeeeee3e;
}
.svgDelere {
  transition: all 0.2s;
}
.hoverBtn {
  &:hover {
    .svgDelere {
      display: block !important;
    }
  }
}
